.cart-row {
  display: flex;
  padding: 50px 0;
  border-bottom: 1px solid #e0e0e0;
  margin-right: 50px;
}

.item-name {
  display: flex;
  flex-direction: column;
  flex: 2.5;
  justify-content: center;
}

.item-name-label {
  font-size: 14px;
  font-weight: 500;
}

.item-id-label {
  font-size: 10px;
  color: #999;
  margin-top: 5px;
}

.item-id-label::before {
  content: "#";
}

.item-quantity-container {
  display: flex;
  flex: 1;
}

.item-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  font-size: 12px;
  margin: 0 5px 0 5px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.item-total {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.item-remove {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

button {
  border-width: 0px;
  background: none;
}

.item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
